
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page row">
    <div class="col-md-18">
        <h2>Cambiar contraseña.</h2>
        <div class="btn-group">
            <a href="javascript:history.back()" class="btn btn-info">
                <i class="glyphicon glyphicon-triangle-left" aria-hidden="true"></i> Regresar.
            </a>
        </div>
    </div>
</div>

<form action="#" autocomplete="off" method="POST" id="form-changePassword">
    <h6>Campos requeridos *</h6>
    <span class="error-message" style="display:none"></span>
    <span class="success-message" style="display:none"></span>

    <div class="form-group">
        <label for="ContrasenaActual" class="required-label control-label">Contraseña actual:</label>
        <input type="password" class="form-control" id="ContrasenaActual" name="ContrasenaActual">
    </div>
    <div class="form-group">
        <label for="NuevaContrasena" class="required-label control-label">Nueva contraseña:</label>
        <input type="password" class="form-control" id="NuevaContrasena" name="NuevaContrasena">
    </div>
    <div class="form-group">
        <label for="VerificacionContrasena" class="required-label control-label">Verificación contraseña:</label>
        <input type="password" class="form-control" id="VerificacionContrasena">
    </div>
    <div class="btn-group"> 
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i> Guardar
        </button>
    </div>
</form>